<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rw.iraguha.secureaccess">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Home"
            android:label="@string/title_activity_map_fragment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/StatusBarHack" />
        <activity android:name=".activity.OnBoarding" />
        <activity
            android:name=".activity.VerifyActivity"
            android:label="@string/title_activity_verify"
            android:theme="@style/StatusBarHack"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".activity.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:label="Identity Verification"
            android:name=".activity.FaceDetectRGBActivity" />

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <activity
            android:name=".activity.ReportActivity"
            android:label="@string/title_activity_report"
            android:parentActivityName=".activity.Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rw.iraguha.secureaccess.activity.Home" />
        </activity>
        <activity
            android:name=".activity.OtherReportActivity"
            android:label="@string/title_activity_other_report"
            android:parentActivityName=".activity.Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rw.iraguha.secureaccess.activity.Home" />
        </activity>
        <activity android:name=".activity.ViewReportActivity" />
        <activity android:name=".activity.ViewReportDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".activity.ViewParadeReportActivity" />
        <activity android:name=".activity.ViewParadeReportDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

    </application>

</manifest>